body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px
}

.card * {
  padding: 8px;
  font-size: 16px;
}

.title {
  background: #e3f4ff;
}

.card .content {
  background: #e3f4ff;
  padding: 16px 8px
}

.card .button-container {
  background: #e3f4ff;
  padding: 8px;
  margin-top: 8px;
  text-align: center;
}
.card .button-container div {
  margin: 0;
  padding: 0
}

.card .button-container div button {
  background: white;
  border: 1px solid #eee;
  margin: 0;
  padding: 8px 24px
}